.App {
  background-color: #d6d2c4;
  width: 100vw;
  height: 100vh;
}

.AppTitle {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.AppIcon {
  margin-right: 2px;
  color: #007a78;
  line-height: 1;
}

.DragAnchor {
  /* make app dragable */
  -webkit-app-region: drag;
  background-color: #d6d2c4;
  padding: 8px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #003b49;
  border-bottom: 1px solid #cac7b9;
}
